@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,900;1,200;1,300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,li{
    text-decoration: none;
    list-style: none;
}
.mainBlock{
    width: 60%;
    margin: 0 auto;
}
.navigationList1_1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}
.navigationList1_1 img{
    width: 247px;
    height:119px;
}
.navigationList1_1 li a{
    width: 100%;
font-family: "Raleway";
color: black;
font-size: 16px;
}
.navigationList1_1 li:nth-child(2) a{
    font-weight: 900;
}
.businessCard{
    width:100%;
    margin: 0 auto;
    /* border: solid 4px #979477; */
    height: 42.75vh;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    position: relative;
    box-shadow: -5px 5px 7px #979477;
}
.textBuisnessCard{
    padding: 2% 0 2% 3%;
    width: 100%;
    font-family: "Raleway";
}
.imgBuisnessCard{
    background-image: url(./img/imgBuisnessCard.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position-x: right;
    background-position: 40% 50%;
}
.textBuisnessCard span{
    left: 15%;
    font-size: 45px;
    font-family:"Raleway" ;
    font-weight:400;
}
.textBuisnessCard ul{
    margin-top: 3%;
}
.textBuisnessCard ul li{
    font-size:27px;
    line-height:50px;
}
.textInfoMuza{
    margin-top: 3%;
    font-size: 20px;
    font-family:"Raleway" ;
}
.titleLessonsMuza{
    margin-top: 3%;
    width: 100%;
    font-size: 30px; 
    font-family:"Raleway" ;
    text-align: center;
}
.allBlockLessonsMuza{
    padding-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.blockLesson{
    margin-top: 3%;
    width: 15vw;
    height:14vw;
    position: relative;
    box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
}
.blockLesson:hover{
    box-shadow: none;
}
.blockLesson img{
    width: 15vw;
    height:14vw;
}
.blockLesson .nado{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.548);
    position: absolute;
    bottom: 0;
    height: 40%;
}
.nado{
    padding: 3%;
    font-size: 25px;
    font-family:"Raleway";
    text-shadow: -10px 7px 10px #979477b6;
}
.bottom{
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #979477;
}
.bottom ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.bottom ul li a{
    color: black;
    font-family:"Raleway";
}
.bottom ul li:nth-child(1) a{
    font-weight: bold;
}
#nav1_2{
    font-weight: normal;
}
#nav2_2{
    font-weight: bold;
}
.allBlockConcert{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.blockConcert{
    margin-top: 5%;
    width: 27vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    /* border: solid 4px #979477; */
    box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
}
.blockConcert img{
    width: 100%;
}
.infoConcert{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4% 4%;
    font-family:"Raleway";
    font-size: 21px;
}
.cost{
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #979477;
    color: white;
}
.infoConcert .timeAndDay{
    padding: 3% 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size:25px;
    font-family:"Raleway";
}
.infoConcert span:nth-child(1){
padding-bottom: 3%;
}
.blockLessonsTimeDay{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family:"Raleway";
}
.blockLessonTimeDay{
    margin-top: 4%;
    width: 100%;
    height: 17vh;
    font-size: 20px;
    border: #979477 solid 3px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
}
#title_letter3{
    font-size: 21px;
    font-family:"Raleway";
    margin-top: 3%;
    width: 100%;
}
#textMaininfo{
    display: flex;
    flex-direction: column;
    line-height: 4vh;
}
#timeAndDay{
    display: flex;
    flex-direction: column;
    line-height: 4vh;
}
.blockLessonTimeDay:hover{
background-color: #9794776c;
}
#nav1_3{
    font-weight: normal;
}
#nav3_3{
    font-weight: bold;
}
body::-webkit-scrollbar {
    width: 18px;               
}
body::-webkit-scrollbar-track {
    background: #9794776c;        
}
body::-webkit-scrollbar-thumb {
    background-color: white;    
   /* border-radius: 20px; */
    border: 3px solid #979477; 
}
#nav4_4{
    font-weight: bold;
}
#nav1_4{
    font-weight: normal;
}
.socialNetwork{
    width: 20%;
    display: flex;
    align-items: center;
}
.socialNetwork img{
    width: 17%;
}
.socialNetwork span{
    margin-left: 15%;
    font-size: 20px;
    font-family:"Raleway";
    color: #4477BB;
    text-decoration-line: underline;
}
.informationContact{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#block1{
margin-top: 3%;
font-size: 20px;
font-family:"Raleway";
}
.goodBye{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family:"Raleway";
    height: 20vh;
}
.mainBlock_4{
    height: 100vh;
    position: relative;
}
.bottom_4{
    width: 65%;
    position: absolute;
    bottom: 0;
}
@media screen and (min-width:2000px){
    .mainBlock{
        width: 1400px;
        margin: 0 auto;
    }
}
@media screen and (max-width:2000px){
    .mainBlock{
        width: 65%;
        margin: 0 auto;
    }
    .textBuisnessCard span{
        left: 15%;
        font-size: 40px;
        font-family:"Raleway" ;
        font-weight:400;
    }
    .textBuisnessCard ul{
        margin-top: 3%;
    }
    .textBuisnessCard ul li{
        font-size:25px;
        line-height:42px;
    }
    .blockLesson{
        margin-top: 3%;
        width: 22vw;
        height:18vw;
        position: relative;
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockLesson img{
        width: 22vw;
        height:18vw;
    }
    .nado{
        padding: 3%;
        font-size: 28px;
        font-family:"Raleway";
        text-shadow: -10px 7px 10px #979477b6;
    }
    .allBlockConcert{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .blockConcert{
        margin-top: 5%;
        width: 27vw;
        height: 55vh;
        display: flex;
        flex-direction: column;
        /* border: solid 4px #979477; */
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
        position: relative;
    }
    .blockConcert img{
        width: 100%;
    }
    .infoConcert{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2% 4%;
        font-family:"Raleway";
        font-size: 18px;
    }
    .ticket{
        position: absolute;
        bottom: 3.5%;
        right: 65%;
        font-size: 22px;
     }
    .cost{
        position: absolute;
     bottom: 2%;
     right: 4%;
        width: 50%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: #979477;
        color: white;
    }
    .infoConcert .timeAndDay{
        padding: 1% 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size:18px;
        font-family:"Raleway";
    }
    .infoConcert span:nth-child(1){
    padding-bottom: 3%;
    }
}
@media screen and (max-width:1440px){
    .textBuisnessCard span{
        left: 15%;
        font-size: 40px;
        font-family:"Raleway" ;
        font-weight:400;
    }
    .textBuisnessCard ul{
        margin-top: 3%;
    }
    .textBuisnessCard ul li{
        font-size:25px;
        line-height:42px;
    }
    .blockLesson{
        margin-top: 3%;
        width: 21vw;
        height:20vw;
        position: relative;
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockLesson img{
        width: 21vw;
        height:20vw;
    }
    .nado{
        padding: 3%;
        font-size: 28px;
        font-family:"Raleway";
        text-shadow: -10px 7px 10px #979477b6;
    }
}
@media screen and (max-width:1200px){
    .mainBlock{
        width: 70%;
        margin: 0 auto;
    }
    .navigationList1_1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
    }
    .navigationList1_1 img{
        width: 200px;
        height:89px;
    }
    .navigationList1_1 li a{
        width: 100%;
        font-family: "Raleway";
        color: black;
        font-size: 14px;
    }
    .businessCard{
        width:100%;
        margin: 0 auto;
        /* border: solid 4px #979477; */
        height: 42.75vh;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        position: relative;
        box-shadow: -5px 5px 7px #979477;
    }
    .textBuisnessCard{
        padding: 2% 0 2% 3%;
        width: 100%;
        font-family: "Raleway";
    }
    .imgBuisnessCard{
        background-image: url(./img/imgBuisnessCard.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .textBuisnessCard span{
        left: 15%;
        font-size: 4vh;
        font-family:"Raleway" ;
        font-weight:400;
    }
    .textBuisnessCard ul{
        margin-top: 3%;
    }
    .textBuisnessCard ul li{
        font-size:20px;
        line-height:38px;
    }
    .textInfoMuza{
        margin-top: 3%;
        font-size: 16px;
        font-family:"Raleway" ;
    }
    .titleLessonsMuza{
        margin-top: 3%;
        width: 100%;
        font-size: 25px; 
        font-family:"Raleway" ;
        text-align: center;
    }
    .allBlockLessonsMuza{
        padding-top: 3%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap
    }
    .blockLesson{
        margin-top: 3%;
        width: 20vw;
        height:18vw;
        position: relative;
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockLesson img{
        width: 20vw;
        height:18vw;
    }
    .blockLesson .nado{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.548);
        position: absolute;
        bottom: 0;
        height: 40%;
    }
    .nado{
        padding: 3%;
        font-size: 18px;
        font-family:"Raleway";
        text-shadow: -10px 7px 10px #979477b6;
    }
    .bottom ul li a{
        color: black;
        font-family:"Raleway";
        font-size: 14px;
    }
    .allBlockConcert{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .blockConcert{
        margin-top: 5%;
        width: 30vw;
        height: 58vh;
        display: flex;
        flex-direction: column;
        /* border: solid 4px #979477; */
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockConcert img{
        width: 100%;
    }
    .infoConcert{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4% 4%;
        font-family:"Raleway";
        font-size: 17px;
    }
    .infoConcert .timeAndDay{
        padding: 3% 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size:19px;
        font-family:"Raleway";
    }
    .infoConcert span:nth-child(1){
    padding-bottom: 3%;
    }
}
@media screen and (max-width:1024px){
    .mainBlock{
        width: 70%;
        margin: 0 auto;
    }
    .navigationList1_1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
    }
    .navigationList1_1 img{
        width: 200px;
        height:89px;
    }
    .navigationList1_1 li a{
        width: 100%;
        font-family: "Raleway";
        color: black;
        font-size: 14px;
    }
    .businessCard{
        width:100%;
        margin: 0 auto;
        /* border: solid 4px #979477; */
        height: 42.75vh;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        position: relative;
        box-shadow: -5px 5px 7px #979477;
    }
    .textBuisnessCard{
        padding: 2% 0 2% 3%;
        width: 100%;
        font-family: "Raleway";
    }
    .imgBuisnessCard{
        background-image: url(./img/imgBuisnessCard.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .textBuisnessCard span{
        left: 15%;
        font-size: 4vh;
        font-family:"Raleway" ;
        font-weight:400;
    }
    .textBuisnessCard ul{
        margin-top: 3%;
    }
    .textBuisnessCard ul li{
        font-size:20px;
        line-height:38px;
    }
    .textInfoMuza{
        margin-top: 3%;
        font-size: 16px;
        font-family:"Raleway" ;
    }
    .titleLessonsMuza{
        margin-top: 3%;
        width: 100%;
        font-size: 25px; 
        font-family:"Raleway" ;
        text-align: center;
    }
    .allBlockLessonsMuza{
        padding-top: 3%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap
    }
    .blockLesson{
        margin-top: 3%;
        width: 20vw;
        height:18vw;
        position: relative;
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockLesson img{
        width: 20vw;
        height:18vw;
    }
    .blockLesson .nado{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.548);
        position: absolute;
        bottom: 0;
        height: 40%;
    }
    .nado{
        padding: 3%;
        font-size: 18px;
        font-family:"Raleway";
        text-shadow: -10px 7px 10px #979477b6;
    }
    .bottom ul li a{
        color: black;
        font-family:"Raleway";
        font-size: 14px;
    }
}
@media screen and (max-width:990px){
    .mainBlock{
        width: 70%;
        margin: 0 auto;
    }
    .navigationList1_1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
    }
    .navigationList1_1 img{
        width: 120px;
        height:49px;
    }
    .navigationList1_1 li a{
        width: 100%;
        font-family: "Raleway";
        color: black;
        font-size: 13px;
    }
    .businessCard{
        width:100%;
        margin: 0 auto;
        /* border: solid 4px #979477; */
        height: 38vh;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        position: relative;
        box-shadow: -5px 5px 7px #979477;
    }
    .textBuisnessCard{
        padding: 2% 0 2% 3%;
        width: 100%;
        font-family: "Raleway";
    }
    .imgBuisnessCard{
        background-image: url(./img/imgBuisnessCard.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .textBuisnessCard span{
        left: 15%;
        font-size: 4vh;
        font-family:"Raleway" ;
        font-weight:400;
    }
    .textBuisnessCard ul{
        margin-top: 3%;
    }
    .textBuisnessCard ul li{
        font-size:16px;
        line-height:30px;
    }
    .allBlockConcert{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .blockConcert{
        margin-top: 5%;
        width: 33vw;
        height: 61vh;
        display: flex;
        flex-direction: column;
        /* border: solid 4px #979477; */
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockConcert img{
        width: 100%;
    }
    .infoConcert{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2% 4%;
        font-family:"Raleway";
        font-size: 18px;
    }
    .ticket{
        position: absolute;
        bottom: 3.5%;
        right: 65%;
        font-size: 22px;
     }
    .cost{
        position: absolute;
     bottom: 2%;
     right: 4%;
        width: 50%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: #979477;
        color: white;
    }
    .infoConcert .timeAndDay{
        padding: 3% 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size:19px;
        font-family:"Raleway";
    }
    .infoConcert span:nth-child(1){
    padding-bottom: 3%;
    }
    .blockLessonsTimeDay{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .blockLessonTimeDay{
        margin-top: 4%;
        width: 100%;
        height: 15vh;
        border: #979477 solid 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4%;
    }
    #title_letter3{
        font-size: 14px;
        font-family:"Raleway";
        margin-top: 3%;
        width: 100%;
    }
    #textMaininfo{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        line-height: 3vh;
    }
    #timeAndDay{
        display: flex;
        flex-direction: column;
        line-height: 3vh;
        font-size: 16px;
    }
    .blockLessonTimeDay:hover{
        background-color: #9794776c;
    }
}
@media screen and (max-width:768px){
     .mainBlock{
        width: 70%;
        margin: 0 auto;
    }
    .navigationList1_1{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 2%;
        height: 15vh;
    }
    .navigationList1_1 li a{
        width: 100%;
    font-family: "Raleway";
    color: black;
    font-size: 12px;
    }
    .navigationList1_1 img{
        width: 140px;
        height:62px;
    }
    .navigationList1_1 li:nth-child(1){
       position: absolute;
       top: 10%;
       left: 0;
    }
    .businessCard{
        width:100%;
        margin: 0 auto;
        /* border: solid 4px #979477; */
        height: 38vh;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        position: relative;
        box-shadow: -5px 5px 7px #979477;
    }
    .textBuisnessCard{
        padding: 2% 0 2% 3%;
        width: 100%;
        font-family: "Raleway";
    }
    .imgBuisnessCard{
        background-image: url(./img/imgBuisnessCard.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .textBuisnessCard span{
        left: 15%;
        font-size: 4vh;
        font-family:"Raleway" ;
        font-weight:400;
    }
    .textBuisnessCard ul{
        margin-top: 3%;
    }
    .textBuisnessCard ul li{
        font-size:16px;
        line-height:30px;
    }
    .textInfoMuza{
        margin-top: 3%;
        font-size: 16px;
        font-family:"Raleway" ;
    }
    .titleLessonsMuza{
        margin-top: 3%;
        width: 100%;
        font-size: 25px; 
        font-family:"Raleway" ;
        text-align: center;
    }
    .allBlockLessonsMuza{
        padding-top: 3%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap
    }
    .blockLesson{
        margin-top: 3%;
        width: 20vw;
        height:18vw;
        position: relative;
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockLesson img{
        width: 20vw;
        height:18vw;
    }
    .blockLesson .nado{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.548);
        position: absolute;
        bottom: 0;
        height: 40%;
    }
    .nado{
        padding: 3%;
        font-size: 15px;
        font-family:"Raleway";
        text-shadow: -10px 7px 10px #979477b6;
    }
    .bottom ul li a{
        color: black;
        font-family:"Raleway";
        font-size: 12px;
    }
    .allBlockConcert{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .blockConcert{
        margin-top: 5%;
        width: 30vw;
        height: 42vh;
        display: flex;
        flex-direction: column;
        /* border: solid 4px #979477; */
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockConcert img{
        width: 100%;
    }
    .infoConcert{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2% 4%;
        font-family:"Raleway";
        font-size: 12px;
    }
    .ticket{
        position: absolute;
        bottom: 3.5%;
        right: 65%;
        font-size: 14px;
     }
    .cost{
        position: absolute;
     bottom: 2%;
     right: 4%;
        width: 50%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background-color: #979477;
        color: white;
    }
    .infoConcert .timeAndDay{
        padding: 3% 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size:14px;
        font-family:"Raleway";
    }
    .infoConcert span:nth-child(1){
    padding-bottom: 3%;
    }
    .blockLessonsTimeDay{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
       
    }
    .blockLessonTimeDay{
        margin-top: 4%;
        width: 100%;
        height: 15vh;
        border: #979477 solid 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4%;
    }
    #title_letter3{
        font-size: 14px;
        font-family:"Raleway";
        margin-top: 3%;
        width: 100%;
    }
    #textMaininfo{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        line-height: 3vh;
    }
    #timeAndDay{
        display: flex;
        flex-direction: column;
        line-height: 3vh;
        font-size: 12px;
    }
    .blockLessonTimeDay:hover{
        background-color: #9794776c;
    }
    .socialNetwork{
        width: 20%;
        display: flex;
        align-items: center;
    }
    .socialNetwork span{
        margin-left: 15%;
        font-size: 14px;
        font-family:"Raleway";
        color: #4477BB;
        text-decoration-line: underline;
    }
    .informationContact{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    #block1{
        margin-top: 5%;
        font-size: 14px;
        font-family:"Raleway";
    }
    #block1 img{
       width: 30%;
    }
    .goodBye{
        margin-top: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family:"Raleway";
        height: 20vh;
        text-align: center;
    }
}

@media screen and (max-width:590px){
    .mainBlock{
        width: 95%;
        margin: 0 auto;
    }
    .manBlock_4{
        position: relative;
        height: 100vh;
    }
    .navigationList1_1{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 2%;
        height: 13vh;
    }
    .navigationList1_1 li a{
        width: 100%;
    font-family: "Raleway";
    color: black;
    font-size: 12px;
    }
    .navigationList1_1 img{
        width: 100px;
        height:48px;
    }
    .navigationList1_1 li:nth-child(1){
       position: absolute;
       top: 10%;
       left: 0;
    }
    .businessCard{
        width:100%;
        margin: 0 auto;
        /* border: solid 4px #979477; */
        height: 25vh;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        position: relative;
        box-shadow: -5px 5px 7px #979477;
    }
    .textBuisnessCard{
        padding: 2% 0 2% 3%;
        width: 100%;
        font-family: "Raleway";
    }
    .imgBuisnessCard{
        background-image: url(./img/imgBuisnessCard.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .textBuisnessCard span{
        left: 15%;
        font-size: 18px;
        font-family:"Raleway" ;
        font-weight:400;
    }
    .textBuisnessCard ul{
        margin-top: 3%;
    }
    .textBuisnessCard ul li{
        font-size:12px;
        line-height:30px;
    }
    .textInfoMuza{
        margin-top: 3%;
        font-size: 16px;
        font-family:"Raleway" ;
    }
    .titleLessonsMuza{
        margin-top: 3%;
        width: 100%;
        font-size: 20px; 
        font-family:"Raleway" ;
        text-align: center;
    }
    .allBlockLessonsMuza{
        padding-top: 3%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap
    }
    .blockLesson{
        margin-top: 3%;
        width: 24vw;
        height:22vw;
        position: relative;
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockLesson img{
        width: 24vw;
        height:22vw;
    }
    .blockLesson .nado{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.548);
        position: absolute;
        bottom: 0;
        height: 40%;
    }
    .nado{
        padding: 3%;
        font-size: 12px;
        font-family:"Raleway";
        text-shadow: -10px 7px 10px #979477b6;
    }
    .bottom ul li a{
        color: black;
        font-family:"Raleway";
        font-size: 12px;
    }
    .allBlockConcert{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .blockConcert{
        margin-top: 5%;
        width: 40vw;
        height: 43vh;
        display: flex;
        flex-direction: column;
        /* border: solid 4px #979477; */
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .blockConcert img{
        width: 100%;
    }
    .infoConcert{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2% 4%;
        font-family:"Raleway";
        font-size: 12px;
    }
    .ticket{
        position: absolute;
        bottom: 3.5%;
        right: 65%;
        font-size: 14px;
     }
    .cost{
        position: absolute;
     bottom: 2%;
     right: 4%;
        width: 50%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background-color: #979477;
        color: white;
    }
    .infoConcert .timeAndDay{
        padding: 3% 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size:14px;
        font-family:"Raleway";
    }
    .infoConcert span:nth-child(1){
    padding-bottom: 3%;
    }
    .blockLessonsTimeDay{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
       
    }
    .blockLessonTimeDay{
        margin-top: 4%;
        width: 100%;
        height: 15vh;
        border: #979477 solid 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4%;
    }
    #title_letter3{
        font-size: 14px;
        font-family:"Raleway";
        margin-top: 3%;
        width: 100%;
    }
    #textMaininfo{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        line-height: 3vh;
    }
    #timeAndDay{
        display: flex;
        flex-direction: column;
        line-height: 3vh;
        font-size: 12px;
    }
    .blockLessonTimeDay:hover{
        background-color: #9794776c;
    }
    .socialNetwork{
        width: 20%;
        display: flex;
        align-items: center;
    }
    .socialNetwork span{
        margin-left: 15%;
        font-size: 14px;
        font-family:"Raleway";
        color: #4477BB;
        text-decoration-line: underline;
    }
    .informationContact{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    #block1{
        margin-top: 5%;
        font-size: 14px;
        font-family:"Raleway";
    }
    #block1 img{
       width: 30%;
    }
    .goodBye{
        margin-top: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family:"Raleway";
        height: 20vh;
        text-align: center;
    }
    .bottom{
        margin-top: 4%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        background-color: #979477;
    }
    .bottom ul{
        width: 98%;
        display: flex;
        justify-content: space-between;
    }
    .bottom ul li a{
        color: black;
        font-family:"Raleway";
        font-size: 11px;
    }
    .bottom ul li:nth-child(1) a{
        font-weight: bold;
    }
    .bottom_4{
        width: 100%;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        font-size: 12px;
    }
}

@media screen and (max-width: 426px){
    .blockConcert{
        margin-top: 5%;
        width: 43vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        /* border: solid 4px #979477; */
        box-shadow: 5px 5px 7px #979477, -5px -5px 7px #979477a9;
    }
    .infoConcert{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2% 4%;
        font-family:"Raleway";
        font-size: 12px;
    }
    .ticket{
        position: absolute;
        bottom: 3.5%;
        right: 65%;
        font-size: 14px;
     }
    .cost{
        position: absolute;
     bottom: 2%;
     right: 4%;
        width: 50%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background-color: #979477;
        color: white;
    }

}